body {
	width: 550px;
	height: 1100px;
	margin: auto;
	font-size: 14px;
	font-family: 'Martel', serif;
}

h1 {
	color: blue;
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	letter-spacing:-1.5px;
	line-height:10px;
	text-align: left;
}

h2 {
	color: blue;
	font-family: 'Roboto Mono', monospace;
	font-size: 40px;
	letter-spacing:-1.5px;
	line-height:10px;
	text-align: right;
}

.headshot {
	width: 125px;
	position: relative;
 	right: 0px;
 	float: right;
 	top: 0px;
}

.schoolbus {
	width: 30px;
}

.caravan {
	margin: auto;
	width: 100px;
}

.icons {
	margin: auto;
	width: 100px;
	line-height: 40px;
}

img {
	width: 550px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: blue;
}

.headerLinks {
	text-align: left;
	font-size: 30px;
	line-height: 20px;
	text-decoration: none;
	}

a:link.bodyLinks {
	text-decoration: underline;
	color: #7FFF00; 
	font-weight:bold;
}

a:visited.bodyLinks {
	text-decoration: underline;
	color: #7FFF00; 
	font-weight:bold;
}

.caravan2 {
	line-height: 10px;
	width: 100px;
	margin: auto;
}
