body {
	width: 550px;
	height: 1100px;
	margin: auto;
	font-size: 16px;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

h1 {
	color: blue;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	font-size: 40px;
	letter-spacing:-1.5px;
	line-height:10px;
	text-align: left;
}

.headshot {
	width: 100px;
	position: relative;
 	right: 0px;
 	float: right;
 	top: 0px;
}

.schoolbus {
	width: 30px;
}

.caravan {
	margin: auto;
	width: 100px;

}

img {
	width: 550px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: blue;
}

.headerLinks {
	text-align: left;
	font-size: 30px;
	line-height: 20px;
	text-decoration: none;
	}

a:link.bodyLinks {
	text-decoration: underline;
	color: #7FFF00; 
	font-weight:bold;
}

a:visited.bodyLinks {
	text-decoration: underline;
	color: #7FFF00; 
	font-weight:bold;
}



